@using Hogwarts.Models
@model HogwartsStudent
<div>
    <h5>Name: </h5>
    <p>@Model.Name</p>
</div>

<div>
    <h5>Dojo: </h5>
    <p>@Model.Dojo</p>
</div>

<div>
    <h5>Favorite Language:</h5>
    <p>@Model.FavoriteLanguage</p>
</div>

<div>
    <h5>Comment:</h5>
    <p>@Model.Comment</p>
</div>


<a href="/">Go Back</a>

